@import "../base/reset";
@import "../base/fonts";
@import "../base/variables";
@import "../companents/corners";
@import "../companents/layout";

.container {
    @media(max-width: 425px){
        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index:-10;
            width: 100%;
            height: 100%;
            background-image: url("../../images/dummy/background.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

        .top-right {
            &:before{
                content: "";
                position: absolute; z-index: -10;
                top: -300px; right: -300px;
                width: 500px; height: 500px;
                background-image: url("../../images/dummy/background.svg");
                background-size: contain;
            }
        }
        
        .bottom-left {

            &:before{
                content: "";
                position: absolute; z-index: -10;
                bottom: -300px; left: -300px;
                width: 500px; height: 500px;
                background-image: url("../../images/dummy/background.svg");
                background-size: contain;

                @media(max-width: 425px){
                    display: none;
                }
            }
        }

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 50px;

        @media(max-width: 425px){
            align-items: flex-start;
        }

        &:before{
            content: "";
            position: absolute; z-index:-10;
            width: 75%; height: 75%;
            background-image: url("../../images/dummy/background.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        @media(max-width: 425px){
            &:before{
                display: none;
            }
        }

        .title {
            max-width: 1000px;
            margin-bottom: 50px;
            .desktop{
                width: 100%;
                display: none;
                @media(min-width: 426px){
                    display: block;
                }
            }
            .mobile{
                width: 100%;
                display: none;
                @media(max-width: 425px){
                    display: block;
                }
            }
        }

        .buttons{
            display: flex;

            .show {
                width: 150px;
                margin-right: 25px;

                a{
                    font-size: 20px;
                    font-family: var(--font-playfair);
                    font-weight: 600;
                    color: var(--black-color);
                }
            }

            .arrow{
                width: 50px;
                i{
                    img{
                        width: 20px;
                        height: 10px;
                    }
                }                
            }

            .show, .arrow{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-color);
                border: 2px solid var(--secondary-color);
                border-radius: 25px;
                height: 50px;
            }
        }
    }        

    @media(max-width: 425px){
        .corners{
            .top-right{
                &:before{
                    display: none;
                }
            }
            .bottom-right{
                display: none;
            }
        }
    }
}