<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HT - List</title>
    <link rel="stylesheet" href="../assets/css/pages/ht-list.min.css">
</head>

<body>
    <div class="container">

        <div class="corners">

            <div class="top-left">
                <a href="../view/index.html">
                    <img src="../assets/images/logo/black/hafta-sonu.svg" alt="">
                </a>
            </div>

            <div class="top-right">
                <img class="ht" src="../assets/images/logo/haberturk.svg" alt="">
                <img class="menu" src="../assets/images/icons/black/hamburger.svg" alt="">
            </div>

            <div class="bottom-left">
                <span>Copyright © 2020 - Tüm hakları saklıdır. Habertürk Gazetecilik A.Ş.</span>
            </div>

            <div class="bottom-right">
                <span> Üretim ve Tasarım</span>
                <img src="../assets/images/logo/ciner-logo.svg" alt="">
                <span>Bilgi Grubu</span>
            </div>

        </div>

        <div class="wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">

                    <!-- items -->
                    <div class="swiper-slide type-1">
                        <div class="wrapper" data-number="01">
                            <div class="content">
                                <div class="image">
                                    <img class="poster" src="/assets/images/dummy/16x9/small/3.png" alt="">
                                </div>
                                <div class="category">FUAR</div>
                                <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
                                    aut!
                                </div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
                                    assumenda voluptatibus nulla aliquid nesciunt molestiae.</div>
                                <div class="date">06.03.2017 - 22:30</div>
                                <a class="btn" href="#">GÖRÜNTÜLE</a>
                            </div>
                        </div>
                    </div>

                    <!-- items -->
                    <div class="swiper-slide type-2">
                        <div class="wrapper" data-number="02"
                            style="background-image: url(../assets/images/dummy/1x2/large/1.png);">
                            <i class="play"></i>
                            <div class="content">
                                <div class="category">SERGİ</div>
                                <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
                                    aut!
                                </div>
                                <a class="btn" href="#">GÖRÜNTÜLE</a>
                            </div>
                        </div>
                    </div>

                    <!-- items -->
                    <div class="swiper-slide type-3">
                        <div class="wrapper" data-number="03">
                            <div class="content">
                                <div class="category">SERGİ</div>
                                <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
                                    aut!
                                </div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
                                    assumenda voluptatibus nulla aliquid nesciunt molestiae.</div>
                                <div class="date">06.03.2017 - 22:30</div>
                                <a class="btn" href="#">GÖRÜNTÜLE</a>
                            </div>
                        </div>
                    </div>

                    <!-- items -->
                    <div class="swiper-slide type-4">
                        <div class="wrapper" data-number="04">
                            <div class="adv">
                                <div class="image">
                                    <img class="poster" src="/assets/images/dummy/1x1/small/1.png" alt="">
                                </div>
                                <div class="title">REKLAM</div>
                                <div class="image">
                                    <img class="poster" src="/assets/images/dummy/1x1/small/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- items -->
                    <div class="swiper-slide type-5">
                        <div class="wrapper" data-number="05"
                            style="background-image: url(../assets/images/dummy/1x2/large/1.png);">
                            <div class="content">
                                <div class="category">SERGİ</div>
                                <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
                                    aut!
                                </div>
                                <a class="btn" href="#">GÖRÜNTÜLE</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <script src="../assets/js/vendors/swiper/swiper-7-3-2.min.js"></script>
    <script src="../assets/js/pages/ht-list.min.js"></script>
</body>

</html>