<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HT - Haftasonu</title>
    <link rel="stylesheet" href="../assets/css/pages/index.min.css">
</head>

<body>
    <div class="container">

        <div class="corners">

            <div class="top-left">
                <a href="../view/index.html">
                    <img src="../assets/images/logo/black/hafta-sonu.svg" alt="">
                </a>
            </div>

            <div class="top-right">
                <img class="ht" src="../assets/images/logo/haberturk.svg" alt="">
                <img class="hamburger" src="../assets/images/icons/black/hamburger.svg" alt="">
            </div>

            <div class="bottom-left">
                <span>Copyright © 2020 - Tüm hakları saklıdır. Habertürk Gazetecilik A.Ş.</span>
            </div>

            <div class="bottom-right">
                <span> Üretim ve Tasarım</span>
                <img src="../assets/images/logo/ciner-logo.svg" alt="">
                <span>Bilgi Grubu</span>
            </div>

        </div>

        <div class="wrapper">
            <div class="title">
                <img class="desktop" src="../assets/images/dummy/16x9/small/haftasonu-1.png" alt="">
                <img class="mobile" src="../assets/images/dummy/16x9/large/haftasonu-1.png" alt="">

            </div>

            <div class="buttons">
                <div class="show"><a href="../view/ht-list.html">görüntüle</a></div>
                <div class="arrow">
                    <a href="../view/ht-list.html">
                        <i>
                            <img src="../assets/images/icons/black/arrow.svg" alt="">
                        </i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>